.color-grid{
  background-color: green;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.container-fluid{
  padding: 0px;
}

.cell{
  width: 100px;
  height: 100%;
  display: inline;
  float: left;
  padding-top: -50%;
  margin: 0 auto;
  color: white;
  overflow: scroll;
}

.gridRow{
  display: block;
  overflow: hidden;
}